{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
{% for message in messages %}

<div>
    <span class="color_gray"> {{ message.created_at }} </span> {{ message.author }} :<i> {{ message.text }}</i>
</div>
{% endfor %}
<!-- Your content goes here -->
<form action="/chat/" method="post">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Senden
    </button>
</form>

{% else %}

<span>Test</span>

<h1>Nicht eingeloggt</h1>
<p> Bitte einloggen</p>
<a href="/login/">Einloggen</a>

{% endif %}
{% endblock %}